#tabuleiro {
    width: 562.8px;
    height: 562.8px;
    border: solid 1px;
}

.linha {
    height: 70px;
}

.casa {
    width: 70px;
    height: 100%;
    float: left;
    cursor: pointer;
    border: 1px solid #3d3d3d;
}

.peca {
    width: 70px;
    height: 70px;
}

.casa_branca {
    background-color: #a9a9a9;
    text-align: center;
}

.casa_preta {
    background-color: #757575;
    text-align: center;
}

.casa_selecionada {
    background-color: #850000;
}

.movimento_peca {
    background-color: #42de00;
}

.ataque_peca {
    background-color: #FF0000;
}