#tabuleiro {
    width: 582.8px;
    height: 582.8px;
    border: solid 1px;
}

.linha {
    height: 70px;
}

.casa {
    width: 70px;
    height: 100%;
    float: left;
    cursor: pointer;
    border: 1px solid #3d3d3d;
}

.peca {
    width: 70px;
    height: 70px;
}

.casa_branca {
    background-color: #a9a9a9;
    text-align: center;
}

.casa_preta {
    background-color: #757575;
    text-align: center;
}

.casa_selecionada {
    background-color: #850000;
}

.movimento_peca {
    background-color: #42de00;
}

.ataque_peca {
    background-color: #FF0000;
}

.header-top {
    height: 20px;
}

.casa-h {
    float: left;
    width: 70px;
    height: 20px;
    text-align: center;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.casa-l {
    float: left;
    width: 20px;
    height: 70px;
    text-align: center;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding-top: 23px;
}

.space {
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}