#tabuleiro {
    width: 562.8px;
    height: 562.8px;
    border: solid 1px;
}

.linha {
    height: 70px;
}

.casa {
    width: 70px;
    height: 100%;
    float: left;
    cursor: pointer;
}

.peca {
    width: 70px;
    height: 70px;
}

.casa_branca {
    background-color: #de7100;
    text-align: center;
}

.casa_preta {
    background-color: #797979;
    text-align: center;
}

.casa_selecionada {
    background-color: #FF0000;
}
