@model JogosDeGuerraModel.Batalha
@{
    ViewBag.Title = "Tabuleiro";
}

<h2>Tabuleiro</h2>

<div class="row">
    <div class="col-xs-12" style="padding: 0px !important;">
        <div id="tabuleiro" style="float: left;">
        </div>
        <div id="info" style="float: left;">
            <ul>
                <li>Casa selecionada: <span id="info_casa_selecionada" /></li>
                <li>Peca selecionada: <span id="info_peca_selecionada" /></li>
                <li>Turno do jogador: <span id="turno_jogador" /></li>
            </ul>
        </div>
    </div>
</div>
@Styles.Render("~/Content/TabuleiroEstilo.css")

@section MeusScripts{
    <script src="~/Scripts/Tabuleiro.js"></script>
    <script type="text/javascript">
        $(function () {
            var batalhaId = @Html.Raw(Json.Encode(ViewBag.Id));
            ObterBatalha(batalhaId);
        });
    </script>
}


