@model JogosDeGuerraModel.Batalha
@{
    ViewBag.Title = "Tabuleiro";
}
<h2>Tabuleiro</h2>
<div id="tabuleiro">
</div>
<div id="info">
    <ul>
        <li>Casa selecionada: <span id="info_casa_selecionada" /></li>
        <li>Peca selecionada: <span id="info_peca_selecionada" /></li>
        <li>Turno do jogador: <span id="turno_jogador" /></li>
    </ul>
</div>

<div id="dialogDesejaEntrar">
    Deseja entrar na batalha?
</div>

<div id="dialogAguardaJogador">
    A batalha possui apenas um jogador...
</div>

@Styles.Render("~/Content/TabuleiroEstilo.css")

@section MeusScripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="~/Scripts/Tabuleiro.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            var batalhaId = @Html.Raw(Json.Encode(ViewBag.Id));
            ObterBatalha(batalhaId);
        });
    </script>
}


